In this lab we will find the customers who were active in consecutive months of May and June. Follow the steps to complete the analysis.

Done in SQL 'lab-sql-7'
1. Create a table rentals_may to store the data from rental table with information for the month of May.
2. Insert values in the table rentals_may using the table rental, filtering values only for the month of May.
3. Create a table rentals_june to store the data from rental table with information for the month of June.
4. Insert values in the table rentals_june using the table rental, filtering values only for the month of June.
5. Check the number of rentals for each customer for May.
6. Check the number of rentals for each customer for June.

7. Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes:
- Check the number of rentals for each customer for May
- Check the number of rentals for each customer for June
Hint: You can store the results from the two queries in two separate dataframes.

8. Write a function that checks if customer borrowed more or less films in the month of June as compared to May.
Hint: For this part, you can create a join between the two dataframes created before, using the merge function available for pandas dataframes. Here is a link to the documentation for the merge function.

7. Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes:

In [2]:
import pandas as pd
import sqlalchemy as alch

In [3]:
from getpass import getpass
password = getpass("sql password: ")

sql password: ········

In [4]:
dbName = "sakila"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [19]:
# Checking the engine
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

- Check the number of rentals for each customer for May

In [23]:
query = 'SELECT DISTINCT(customer_id), COUNT(rental_id) AS num_rentals \
FROM rentals_may \
GROUP BY customer_id \
ORDER BY customer_id'

rentals_may_df = pd.read_sql_query(query, engine)
rentals_may_df.head()

   customer_id  num_rentals
0            1            4
1            2            2
2            3            4
3            5            6
4            6            6

In [32]:
len(rentals_may_df)

2312

- Check the number of rentals for each customer for June

In [24]:
query = 'SELECT DISTINCT(customer_id), COUNT(rental_id) AS num_rentals \
FROM rentals_june \
GROUP BY customer_id \
ORDER BY customer_id'

rentals_june_df = pd.read_sql_query(query, engine)
rentals_june_df.head()

   customer_id  num_rentals
0            1           14
1            2            2
2            3            8
3            4           12
4            5           10

In [31]:
len(rentals_june_df)

590

8. Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

In [45]:
def compare_june_to_may(customer_id):
# Merge the rentals dataframes for May and June on customer_id
    merged_rentals_df = pd.merge(
        rentals_may_df[rentals_may_df["customer_id"] == customer_id],
        rentals_june_df[rentals_june_df["customer_id"] == customer_id],
        on="customer_id",
        how="inner"
    )
    
# Get the number of rentals for May and June
    may_count = merged_rentals_df["rental_id"].count()
    june_count = merged_rentals_df["num_rentals"].values[0] # returning the num_rentals as an array
    
# Compare the counts and return a message
    if june_count > may_count:
        return f"Customer {customer_id} borrowed more films in June than May."
    elif june_count < may_count:
        return f"Customer {customer_id} borrowed fewer films in June than May."
    else:
        return f"Customer {customer_id} borrowed the same number of films in June as May."

customer_id = 123  # Replace with actual customer ID
result = compare_june_to_may(customer_id)
print(result)

Customer 123 borrowed more films in June than May.

#### Another way of doing it, without merge.

In [44]:
def compare_june_to_may(customer_id):
    may_count = rentals_may_df[rentals_may_df["customer_id"] == customer_id].shape[0]
    june_count = rentals_june_df[rentals_june_df["customer_id"] == customer_id]["num_rentals"].values[0]
    if june_count > may_count:
        return f"Customer {customer_id} borrowed more films in June than May."
    elif june_count < may_count:
        return f"Customer {customer_id} borrowed fewer films in June than May."
    else:
        return f"Customer {customer_id} borrowed the same number of films in June as May."

customer_id = 123  # Replace with actual customer_id
result = compare_june_to_may(customer_id)
print(result)

Customer 123 borrowed more films in June than May.